{% extends "base.html" %}
{% block title %} My Orders {% endblock %}

{% block content %}
<section class="container spad">
    <h2>My Orders</h2>

    {% if orders %}
        <table class="table">
            <thead>
                <tr>
                    <th>Order ID</th>
                    <th>Date</th>
                    <th>Total</th>
                    <th>Status</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for order in orders %}
                <tr>
                    <td>#{{ order.id }}</td>
                    <td>{{ order.created_at|date:"M d, Y" }}</td>
                    <td>৳ {{ order.total_amount }}</td>
                    <td>{{ order.get_status_display }}</td>
                    <td>
                        <a href="{% url 'order_detail' order.id %}" class="primary-btn">
                            View
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>You have not placed any orders yet.</p>
    {% endif %}
</section>
{% endblock %}
