{% extends 'base.html' %}
{% load static %}

{% block title %} My Cart {% endblock title %}

{% block content %}
<!-- Cart Section -->
<section class="cart-page spad">
    <div class="container">

        <div class="cart-table">
            <table>
                <thead>
                    <tr>
                        <th class="product-h">Product</th>
                        <th>Price</th>
                        <th class="quan">Quantity</th>
                        <th>Total</th>
                        <th></th>
                    </tr>
                </thead>

                <tbody>
                {% for item in cart.items.all %}
                    <tr>
                        <td class="product-col">
                            <img src="{{ item.product.thumbnail }}" alt="{{ item.product.title }}">
                            <div class="p-title">
                                <h5>{{ item.product.title }}</h5>
                            </div>
                        </td>

                        <td class="price-col">
                            ৳ {{ item.product.price }}
                        </td>

                        <td class="quantity-col">
                            {{ item.quantity }}
                        </td>

                        <td class="total">
                            ৳ {{ item.product.price|floatformat:2 }}
                        </td>

                        <td class="product-close">
                            <a href="{% url 'cart_remove' item.id %}">×</a>
                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="5" class="text-center">
                            Your cart is empty
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="row mt-4">
            <div class="col-lg-6">
                <a href="{% url 'home' %}" class="primary-btn">
                    Continue Shopping
                </a>
            </div>

            <div class="col-lg-6 text-right">
                {% if cart and cart.items.count > 0 %}
                <a href="{% url 'checkout' %}" class="primary-btn">
                    Proceed to Checkout
                </a>
                {% endif %}
            </div>
        </div>

    </div>
</section>
<!-- Cart Section End -->
{% endblock content %}
